#box{
	width: 750px;
	height: 95px;
	background-color: red;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items:center;
}
.sousuo{
	width: 621px;
	height: 64px;
	border-radius: 30px;
	background: #fff url(../images/qw.png) no-repeat 160px 15px;
	font-size: 26px;
	line-height: 64px;
	color: #d7d7d7;
	text-align: center;
}
#box1{
	width: 750px;
	height: 98px;
	display: flex;
}
.box1{
	width: 185px;
	height: 98px;
	background: url(../images/qr.png) no-repeat 72px 17px;
	display: flex;
	justify-content: center;
	align-items: flex-end;

}
.shouye{
	font-size: 19px;
	line-height: 28px;
	color: #929292;
}
.shouye:hover{
	color: #00b589;
}
#w1{
	width: 750px;
	height: 286px;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	align-content: space-between;
    flex-wrap: wrap;
}
.w1{
	font-size: 22px;
     width: 120px;
     height: 125px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}